
body {
    font-family: sans-serif;
}
.itemPage { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5em;
    padding: 3em 15em;
    img{
        width: 100%;
        height: 27em;
    }
    h2{
        margin: 1em 0;
        
    }
}
